@model Form

<form method="post">

    <input type="hidden" asp-for="MovieId" />

    <label asp-for="CategoryId">Category: </label>
    <select asp-for="CategoryId">
        <option value="">Select a Category</option>
        @foreach (Category c in ViewBag.Categories) //Assign correct catgory to the category id for each row
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        }
    </select>
    <br />
    <label asp-for="Title">Title: </label>
    <input asp-for="Title" required />
    <br />
    <label asp-for="Year">Year: </label>
    <input asp-for="Year" required />
    <br />
    <label asp-for="Director">Director: </label>
    <input asp-for="Director" required />
    <br />
    <label asp-for="Rating">Rating: </label>
    <select asp-for="Rating" required>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>
    <br />
    <label asp-for="Edited">Edited: </label>
    <select asp-for="Edited">
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>
    <br />
    <label asp-for="LentTo">Lent To: </label>
    <input asp-for="LentTo" />
    <br />
    <label asp-for="CopiedToPlex">Copied to plex: </label>
    <input asp-for="CopiedToPlex" />
    <br />
    <label asp-for="Notes">Notes: </label>
    <input asp-for="Notes" maxlength="25" />
    <br />
    <button type="submit">Submit</button>

    <div asp-validation-summary="All"></div>

</form>
