@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Useful Links</h1>
    <ul>
        <li><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a></li>
        <li><a href="https://baconsale.com/" target="_blank">Baconsale site</a></li>
    </ul>
    <h2>Clickable Image</h2>
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/img/baconsalekate.jpg" alt="Baconsale" style="width: 200px" />
    </a>
</body>
</html>

